@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Ysabeau:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ysabeau', sans-serif;
  background-color: #ffe9cc;
  scroll-behavior: smooth;
}


a{
  text-decoration: none;
  color: #8E3200;
}
.VanGogh{

}
header {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Vincent_Van_Gogh_-_Wheatfield_with_Crows.jpg/1280px-Vincent_Van_Gogh_-_Wheatfield_with_Crows.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: none;
}

.header_inner {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  z-index: 9999;
  box-shadow: rgba(50, 50, 93, 0.01) 0px 20px 20px -20px;
}

.href_decoration{
  text-decoration: none;
  color: white;
}
.logo {
  margin-left: 2vw;
  font-size: 24px;
  color: aliceblue;
  font-family: 'Raleway', sans-serif;
}

.login {
  background-color: transparent;
  border-radius: 8px;
  font-family: bold;
}

.login>a {
  padding: 30px
}

.gallery_name {
  margin: 8% 8%;
  font-size: 36px;
  border-top: solid rgb(62, 62, 62) 2px;
  border-bottom: solid rgb(62, 62, 62) 2px;

}
.container_authors {
  margin: 10vh 0;
  padding: 3em 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
}
.font_weight{
  font-size: 6em;
  flex-wrap: wrap;
}

.artists_container {
  font-size: 36px;
  margin: 5% 5%;
  border: solid rgb(62, 62, 62) 2px;
  background-image: url("https://ik.imagekit.io/theartling/prod/original_images/eeea5deea98d461a85edacaa3375058d-2.jpg?tr=w-1650");
  background-attachment: fixed;
  background-position: center;
  color: #DCEDFF;

}

.artists_container::before {
  filter: blur(2px);
}

.content_image_inner {
  position: relative;
  aspect-ratio: 3 / 4.5;
  width: 100%;
  border-radius: 24px;
  transition: .5s ease;
  
}
.content_image_inner:hover{
  transform: scale(1.01);
  filter: brightness(60%);
} 

.content_image_inner_bckg {
  aspect-ratio: 3 / 4;
  background: rgba(255, 255, 255, 0.2);
  border-radius:36px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 20em;
  padding: 20px;

}
.text_block{
    opacity: 1;
    position: relative;
    margin: 0 2em;
    bottom: 50%;
}

.container_content {
  position: relative;
  bottom: 85%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.container_content_text{
  color: #DCEDFF;
  margin:  0 1em;
}
.info {
  position: relative;

}

.main {
  max-height: 550px;;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
}

footer {
  bottom: 0;
}

.footer {
  background-color: #ecb464  ;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}


.footer .footer-left {
  width: 45%;
}

.footer h3 {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  margin: 0;
}

.footer h3 span {
  color: #8E3200;
}
#spn{
  color: white;
  text-decoration: none;
  
}
.menu-select{
  color: unset;
}
.footer .footer-links {
  color: #8E3200;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .footer-company-name {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}




.mySwiper {

  padding-top: 20px;
}

.footer .footer-right {
  width: 45%;
  color: #8E3200;

}
.footer-right>a{
  text-decoration: none;
}
.item {
  scale: (0.5);

}

.item_image {
  transition: all .6s ease-in-out;
  filter: brightness(80%);
  z-index: 7000;
  transform: scale(0.7);
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 50px 50px 100px -20px, rgba(0, 0, 0, 0.3) 50px 50px 60px -30px, rgba(10, 37, 64, 0.35) 50px -2px 6px 0px inset;
}

.item_image:hover {
  transform: scale(0.8);
  filter: brightness(100%);

}

.item_wrapper {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transform: scale(0.8);
}

.slider_container {
  display: flex;
  flex-direction: row;
}
swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;  
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box_inner {
  aspect-ratio: 1 /1 ;
  width: 300px;
  display: flex;
  
} 
.box_inner> img{
    width: 100%;  
    border-radius: 10px;
    transition: .3s ease;
    margin: 1em;
    box-shadow: rgb(47, 48, 49) 0px 10px 10px -5px;
}
.box_inner> img:hover{
  transform: scale(1.1);
}

.box{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}


@keyframes transitionIn {
  0% {
    opacity: 0;
    transform: translateY(20px);

  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}






/* burger */

.menu-burger {
  width: calc(100% - 4em);
  height: 2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2em;
  z-index: 1500;
}

.menu_item {
  margin-right: 4em;
  display: flex;
  color: #ffffff;
  font-size: 24px;
  z-index: 1600;
}

.menu_small_icon {
  display: none;
}

.menu-small {
  display: none;
  height: 2em;
}

.menu_small_item {
  display: none;
}

.stick1 {
  width: 80%;
  height: 5px;
  background: rgb(227, 227, 227);
}

.stick2 {
  width: 80%;
  height: 5px;
  background: rgb(227, 227, 227);
}

.stick3 {
  width: 80%;
  height: 5px;
  background: rgb(227, 227, 227);
}

.inner {
  padding: 1em 0 0 0;
  width: 60%;
  height: auto;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

@media (max-width: 450px) {
  .logo {
    margin: 0;
    position: relative;
    left: 40vw;
  }






  .content_image_inner_bckg{
    width: 16em;
    
  }

  .font_weight{
    font-size: 36px;
    margin: 0;
  }     

.item_image{
  transform: scale(0.95);
}
  .menu-burger {
    display: none;
  }

  .menu-small {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    padding: 0;
    position: absolute;
    background: white;
    transform: translateX(-100%);
  }

  .menu_small_item {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu_small_item:first-child {
    padding-top: calc(50px + 2em);
  }

  .menu_small_icon {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 50px;
    height: 50px;
    display: flex;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .inner {
    padding-top: calc(50px + 2em);
  }

  .inner p {
    margin: 0
  }

  .footer {
    font-family: 'Raleway', sans-serif;
    display: block;
  }

  .footer .footer-left,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}
@media (max-width:950px) and (orientation: landscape){
.content_image_inner_bckg{
  width: 12em;
}
swiper-container{
  slides-per-view:2;
}
.font_weight{
  font-size: 36px;
}
}
@media (max-width: 1200px) and (orentation:landscape) {
.font_weight{
  font-size:48px;
  flex-wrap: wrap;
}


.menu-burger {
  display: none;
}

.menu-small {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50%;
  padding: 0;
  position: absolute;
  background: white;
  transform: translateX(-100%);
}

.menu_small_item {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_small_item:first-child {
  padding-top: calc(50px + 2em);
}

.menu_small_icon {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 50px;
  height: 50px;
  display: flex;
  z-index: 1;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

}

/* 
@import url(https://fonts.googleapis.com/css?family=Raleway);
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-right: 3em;
  color: #FFF;
  height: auto;
  padding: 1em;
  width: 100%;
  font-size: 24px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0 ;
  padding: 0;
}

.menu > li {
  flex-wrap: wrap;
  margin: 0 3rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 750px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
} */


