* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
#ch{
    display: none;
}
label{
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: #484848;
    padding: 15px 25px;
    border-radius: 12px;
}

.content{
    display: none;
}
#ch:checked ~ .content{
    display: block;
}

#ch:checked ~ label{
    display: none;
}







.card{
    border-radius: 12px;
    overflow: hidden;
    transition: all ease 0.3s;

}
.card img{
    border-radius: 12px;    
    transition: all ease 0.3s;
    filter: brightness(80%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 8px, rgba(0, 0, 0, 0.3) 0px 14px 17px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.card:hover{
    transform: scale(1.0525);
}

.card:hover img{
    filter: brightness(100%);
}
.card-content{
    width: 100%;
    transition: all 0.3s ease;
    opacity: 0;
    display: flex;
    justify-content: center;
}
.card:hover .card-content{
    position: absolute;
    opacity: 1;
    bottom: 0;
    font: 900;

}


a{
    color: #9DB2BF;
}

span{
    color: #9DB2BF;
}

p{
    color: #9DB2BF;
}

footer {
    bottom: 0;
  }
  
  .footer {
    background-color: #404258;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  
  .footer .footer-left {
    width: 45%;
  }
  
  .footer h3 {
    color: #DDE6ED;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    margin: 0;
  }
  
  .footer h3 span {
    color: #DDE6ED;
  }
  
  #spn {
    color: #DDE6ED;
    text-decoration: none;
  
  }
  
  .menu-select {
    color: unset;
  }
  
  .footer .footer-links {
    color: #9DB2BF;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .footer-company-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  






.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2vw;
}


.container .gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .gallery .box{
    display: flex;
    flex-direction: column;
    width: 32.5%;
    border-radius: 12px;

    
}
.card{
    padding: 20px;
}
.container .gallery .box img{
    width: 100%;
}
.btn{
    margin: 40px 0 20px 0;
    background-color:rgb(44, 41, 48);
    padding: 15px 40px;
    border-radius: 12px;
}
.btn a{
    color: aliceblue;
    font-size: 1.2em;
    text-decoration: none;
    letter-spacing: 3px;
}

header {
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-image:url("https://media.nga.gov.au/Hyd6gf2mXF6-tfSZvQf9tIFUJqg=/2000x1000/%2Fnational-gallery-of-australia%2Fmedia%2Fdd%2Fimages%2F20210507_KMN_Exhibition_Lineages_0008.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5000;
}

.header_inner {

    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0.9)), to(rgba(0, 0, 0, 0.014)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.02));
    z-index: 9999;
}



.href_decoration {
    text-decoration: none;
    color: rgb(226, 226, 226);
}

.logo {
    font-size: 24px;
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    margin: 1.5em;
}
/* burger */
.menu-burger {
    width: calc(100% - 4em);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1500;
}

.menu_item {
    margin-right: 4em;
    display: flex;
    color: #ffffff;
    font-size: 24px;
    z-index: 1600;
}

.menu_small_icon {
    display: none;
}

.menu-small {
    display: none;
    height: 2em;
}

.menu_small_item {
    display: none;
}

.stick1 {
    width: 80%;
    height: 5px;
    background: rgb(227, 227, 227);
}

.stick2 {
    width: 80%;
    height: 5px;
    background: rgb(227, 227, 227);
}

.stick3 {
    width: 80%;
    height: 5px;
    background: rgb(227, 227, 227);
}

.h3{
    font-size: 2em;
}


@media (max-width: 769px) {
    
    .container .gallery {
        flex-direction: column;
        align-items: center;
    }
    .container .gallery .box{
        width: 90%;
    }



    .font_weight {
        font-size: 36px;
        margin: 0;
    }


    .menu-burger {
        display: none;
    }

    .item>h2 {
        font-size: 20px;
    }

    .menu-small {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 50%;
        padding: 0;
        position: absolute;
        background: white;
        transform: translateX(-100%);
    }

    .menu_small_item {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_small_item:first-child {
        padding-top: calc(50px + 2em);
    }

    .menu_small_icon {
        position: absolute;
        top: 1em;
        left: 1em;
        width: 50px;
        height: 50px;
        display: flex;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }



    .footer {
        font-family: 'Raleway', sans-serif;
        display: block;
    }

    .footer .footer-left,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
}

@media (max-width:950px) and (orientation: landscape) {

    .font_weight {
        font-size: 36px;
    }
}

@media (max-width: 1200px) and (orentation:landscape) {
    .font_weight {
        font-size: 48px;
        flex-wrap: wrap;
    }


    .menu-burger {
        display: none;
    }

    .menu-small {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 50%;
        padding: 0;
        position: absolute;
        background: white;
        transform: translateX(-100%);
    }

    .menu_small_item {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_small_item:first-child {
        padding-top: calc(50px + 2em);
    }

    .menu_small_icon {
        position: absolute;
        top: 1em;
        left: 1em;
        width: 50px;
        height: 50px;
        display: flex;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

}