*{
    margin: 0;padding: 0;
}
header {
    width: 100%;
    justify-content: center;
    z-index: 5000;
}

.header_inner {

    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0.9)), to(rgba(0, 0, 0, 0.014)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.02));
    z-index: 9999;
}



.href_decoration {
    text-decoration: none;
    color: rgb(226, 226, 226);
}

.logo {
    font-size: 24px;
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    margin: 1.5em;
}






.container{
    display: flex;
    flex-direction: row;

    color: black;
    width:100%;
}
.img-container{
    width: 66.6%;
}
.info-container{
}