<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="view.css">
</head>
<body>
    <header>
        <div class="header_inner" id="header_inner">
                <div class="logo">
                        <a class="href_decoration" href="index.html">
                                <h3 class="h3">Art<span class="spn">Trick</span></h3>
                        
                </div>
</header>
<div class="container">
    <div class="img-container">
        <img src="/gallery/imagesGallery/Утро в сосновом лесу.webp" alt="">
    </div>
    <div class="info-container">
        <p><h1>eirfuhoihio</h1></p>
        <div>fwkuerysgbvciukewgdb</div>
    </div>
</div>
</body>
</html>